*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'raleway';
    src: url('police/static/Raleway-Medium.ttf');
}
@font-face {
    font-family: 'raleway_bold';
    src: url('police/static/Raleway-ExtraBold.ttf');
}
body
{
    width: auto;
    height: auto;
    font-family: raleway;
    background-color: #FFF;
    font-size: 1.2em;
}
header
{
    display: flex;
}
#reservia
{
    width: 10%;
    height: 3.5rem;
    margin: 3% 0% 2% 1.8%;
}
#empty
{
    width: 50%;
}
#noneDesk
{
    visibility: hidden;
}
a
{
    text-decoration: none;
    color: black;
}
#login
{
    color: #0065FC;
    padding-top: 3.6rem;
}
#navigation
{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
a[class = "borderTop"]
{
    display: block;
    height: 100%;
    padding-top: 3.6rem;
}
a[class = "borderTop"]:hover
{
    border-top: #0065FC 2px solid;
    color: #0065FC;
}
.bold
{
    font-family: raleway_bold;
}
h3
{
    font-size: 1.3em;
}
#nature
{
    margin-top: 0.2rem;
}
#top
{
    margin-left: 3%;
}
#search
{
    display: flex;
    margin-top: 1.6rem;
}
#assetSearch
{
    width: 4%;
    padding: 0.9rem 1.3rem 0.5rem 1.3rem;
    background-color: #F2F2F2;
    border: #F2F2F2 solid;
    border-radius: 40% 0 0 40%;
}
input
{
    border: #F2F2F2 solid 1px;
    width: 18.5%;
    font-size: 0.9em;
    text-indent: 1rem;
}
button
{
    background-color: #0065FC;
    color: #FFF;
    font-size: 0.9em;
    border-radius: 0 1rem 1rem 0;
    border: #0065FC solid;
    width: 8.5%;
}
#searchIcon
{
    visibility: hidden;
}
#filtersTop
{
    display: flex;
    margin: 2rem 0 2.5rem 3%;
    align-items: center;
    height: 3rem;
}
.assetFilters
{
    background-color: #DEEBFF;
    border: #DEEBFF solid 1px;
    padding: 0.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}
.icons
{
    padding: 0.75rem;
}
.center
{
    padding: 0 1rem 0 1rem;
}
.filters
{
    display: flex;
    align-items: center;
    height: 3rem;
    border: #e9e9e9 solid 2px;
    border-radius: 2rem;
    margin-left: 2.6rem;
}
a[class = "filters"]:hover
{
    background-color: aquamarine;
}
#info
{
    display: flex;
    align-items: center;
    margin-left: 3%;
}
#informationLogo
{
    border: solid #F2F2F2 1px;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    padding: 0.4rem;
    margin-right: 1rem;
}
section
{
    display: flex;
}
#accommodationsTitle
{
    margin: 5% 0 0 4.5%;
}
#accommodationsResults
{
    background-color: #F2F2F2;
    width: 68%;
    height: 43rem;
    margin: 3% 3% 0 3%;
    border-radius: 2rem;
    padding-left: 1%;
}
.resultsLines
{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
}
.accommodationsLinks
{
    background-color: #FFF;
    width: 28%;
    height: 43%;
    border-radius: 1rem;
    box-shadow: 1px 1px 12px #aaa;
    padding: 0.5%;
    margin-left: 3.5%;
    line-height: 1.3em;
}
.textLinks
{
    margin-left: 0.8em;
}
.price
{
    font-size: 0.8em;
}
.aLinks
{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0 0;
}
#showMore
{
    margin: 0 0 2% 3%;
}
#popular
{
    background-color: #F2F2F2;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    margin: 3% 3% 0 1%;
    border-radius: 1rem;
    height: 43rem;
}
#popularTitle
{
    margin: 12% 0 0 10%;
}
#chartLine
{
    max-width: 30px;
    height: 30px;
    margin: 3rem 0 0 5rem;
}
.popularLinks
{
    background-color: #FFF;
    max-width: 80%;
    display: flex;
    height: 22%;
    border-radius: 1rem;
    box-shadow: 1px 1px 12px #aaa;
    padding: 1%;
    margin: 0 10% 0 10%;
}
.popLinks
{
    min-width: 40%;
    max-width: 40%;
    height: 142px;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}
.right
{
    line-height: 1.4em;
    margin: 0.5rem 0 0 1rem;
}
.starsBottom
{
    margin-bottom: 2em;
}
.starLogo
{
    max-width: 15px;
    max-height: 20px;
    fill: #0065FC;
}
#activitiesTitle
{
    margin: 4% 0 1.5% 3%;
}
#activitiesResults
{
    width: auto;
    height: 29rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'port fort parc dame'
                         'port iles parc long';
    gap: 40px;
    margin: 0 3% 4% 3%;
}
#port
{
    grid-column: 1/2;
    grid-row: 1/3;
}
#fort
{
    grid-column: 2/3;
    grid-row: 1/2;
}
#iles
{
    grid-column: 2/3;
    grid-row: 2/3;
}
#parc
{
    grid-column: 3/4;
    grid-row: 1/3;
}
#dame
{
    grid-column: 4/5;
    grid-row: 1/2;
}
#long
{
    grid-column: 4/5;
    grid-row: 2/3;
}
.actLinks
{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0 0;
}
.imgInside
{
    width: 100%;
    height: 149px;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0 0;
}
.activitiesLinks
{
    width: 1fr;
    max-height: 29rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 12px rgb(221, 221, 221);
}
#activitiesName
{
    margin: 1rem 0 0 1rem;
}
footer
{
    background-color: #F2F2F2;
    display: flex;
    line-height: 2em;
}
.footerElements
{
    width: 25%;
    margin: 3% 5% 3% 3%;
}
.footerTitle
{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
@media all and (max-device-width: 480px)
{
    #reservia
    {
        width: 28%;
        height: 3.5rem;
        margin: 3% 0% 2% 5%;
    }
    #noneDesk
    {
        visibility: visible;
        color: #0065FC;
        position: absolute;
        margin: 2rem 0 0 15rem;
        font-size: 0.9em;
    }
    #login, #empty
    {
        display: none;
    }
    a[class = "borderTop"]
    {
        border-bottom: #F2F2F2 solid 3px;
        font-size: 0.9em;
        margin: 2rem 1rem 1.5rem 1rem;
        height: 6rem;
        /* display: flex;
        justify-content: space-between; */
    }
    a[class = "borderTop"]:hover
    {
        border-bottom: #0065FC solid 2px;
        border-top: none;
    }
    #nature
    {
        font-size: 0.9em;
        margin-top: 1rem;
    }
    #assetSearch
    {
        width: 15%;
        padding: 0.7rem 1rem 0.4rem 1rem;
    }
    input
    {
        border: #F2F2F2 solid 1px;
        width: 60%;
        font-size: 0.9em;
        text-indent: 1rem;
    }
    button
    {
        font-size: 0em;
        border-radius: 1rem;
        width: 14%;
    }
    #searchIcon
    {
        visibility: visible;
        width: 40%;
        height: 40%;
        color: white;
    }
    #filtersTop
    {
        flex-direction: column;
        height: 15rem;
        margin: 2rem 0 1.5rem 0;
        background-color: red;
    }    
    #info
    {
        font-size: 0.8em;
    }
    #informationLogo
    {
        margin: 0 1rem 1.5rem 0;
        height: 1.4rem;
        width: 1.4rem;
        padding: 0.2rem;
    }
    #principal
    {
        flex-direction: column-reverse;
    }
    #popular
    {
        width: 100%;
        border-radius: 0;
        height: 30rem;
    }
    #popularTitle
    {
        font-size: 1.1em;
        margin: 9% 0 0 4%;
    }
    #chartLine
    {
        max-width: 20px;
        height: 20px;
        margin: 2.1rem 0 0 4.5rem;
    }
    .popularLinks
    {
        min-width: 90%;
        height: 25%;
        padding: 1%;
        margin: auto;
    }
    .popLinks
    {
        height: 110px;
    }
    .right
    {
        line-height: 1em;
        margin: 0.5rem 0 0 1rem;
        font-size: 0.9em;
    }
    .starsBottom
    {
        margin-bottom: 1em;
    }
    #accomodationsResults
    {
        background-color: #FFF;
        width: 100%;
    }
    .resultsLines
    {
        flex-direction: column;
        width: 100%;
    }
    /*
    a Hébergements et Activités
    {
        text-decoration: none;
        color: black;
    }
    .assetFilters
    {
        background-color: #DEEBFF;
        border: #DEEBFF solid 1px;
        padding: 0.5rem;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
    .icons
    {
        padding: 0.75rem;
    }
    .filters
    {
        display: flex;
        align-items: center;
        height: 3rem;
        border: #e9e9e9 solid 2px;
        border-radius: 2rem;
        margin-left: 2.6rem;
    }
    #info
    {
        display: flex;
        align-items: center;
        margin-left: 3%;
    }
    section
    {
        display: flex;
    }
    #accommodationsTitle
    {
        margin: 5% 0 0 4.5%;
    }
    #accommodationsResults
    {
        background-color: #F2F2F2;
        width: 68%;
        height: 43rem;
        margin: 3% 3% 0 3%;
        border-radius: 2rem;
        padding-left: 1%;
    }
    .resultsLines
    {
        width: 100%;
        height: 30rem;
        display: flex;
        flex-wrap: wrap;
    }
    .accommodationsLinks
    {
        background-color: #FFF;
        width: 28%;
        height: 43%;
        border-radius: 1rem;
        box-shadow: 1px 1px 12px #aaa;
        padding: 0.5%;
        margin-left: 3.5%;
        line-height: 1.3em;
    }
    .textLinks
    {
        margin-left: 0.8em;
    }
    .price
    {
        font-size: 0.8em;
    }
    .aLinks
    {
        width: 100%;
        height: 125px;
        object-fit: cover;
        border-radius: 0.8rem 0.8rem 0 0;
    }
    #showMore
    {
        margin: 0 0 2% 3%;
    }
    .starLogo
    {
        max-width: 15px;
        max-height: 20px;
        fill: #0065FC;
    }
    #activitiesTitle
    {
        margin: 4% 0 1.5% 3%;
    }
    #activitiesResults
    {
        width: auto;
        height: 29rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 'port fort parc dame'
                             'port iles parc long';
        gap: 40px;
        margin: 0 3% 4% 3%;
    }
    #port
    {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    #fort
    {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #iles
    {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #parc
    {
        grid-column: 3/4;
        grid-row: 1/3;
    }
    #dame
    {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #long
    {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .actLinks
    {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 0.8rem 0.8rem 0 0;
    }
    .imgInside
    {
        width: 100%;
        height: 149px;
        object-fit: cover;
        border-radius: 0.8rem 0.8rem 0 0;
    }
    .activitiesLinks
    {
        width: 1fr;
        max-height: 29rem;
        border-radius: 1rem;
        box-shadow: 1px 1px 12px rgb(221, 221, 221);
    }
    #activitiesName
    {
        margin: 1rem 0 0 1rem;
    }
    footer
    {
        background-color: #F2F2F2;
        display: flex;
        line-height: 2em;
    }
    .footerElements
    {
        width: 25%;
        margin: 3% 5% 3% 3%;
    }
    .footerTitle
    {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    } */
    #activitiesResults
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .activitiesLinks
    {
        width: 100%;
    }
    footer
    {
        flex-direction: column;
    }
}